*{
    margin: 0px;
    padding: 0px;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg ,#08001f , #30197d);
    padding: 10px ;
    position: relative;
    color:#fff;
    display: flex;
}
.container{
    width: 800px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
   
}
.clock{
    width: 100%;
    height: 100%;
    background: rgba(235 ,0 , 255, 0.11);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}


.clock span {
    font-size: 80px;
    width: 110px;
    display: inline;
    text-align: center;
    position: relative;
}

.clock span::after{
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}
#Hrs::after{
    content: "HOURS";

}
#Min::after{
    content: "MIN";
}
#Sec::after{
    content: "SEC";
}