* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(134deg, #153677, #4e085f);
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #fff
}

.container h1 {
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}

.container h1 u {
    color: #ff2963
}

.container textarea {
    width: 600px;
    height: 250px;
    font-size: 15px;
    background: #4038d4;
    color: #fff;
    border: 0px;
    outline: 0px;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
}

textarea::placeholder {
    font-size: 16px;
    color: #ddd;
}

.row {
    width: 600px;
    align-items: center;
    display: flex;
    gap: 22px;
}

button {
    background: #ff2963;
    color: #fff;
    border: 0px;
    border-radius: 35px;
    font-size: 16px;
    padding: 10px 30px;
    cursor: pointer;
}

select {
    background: #403d84;
    color: #fff;
    border: 0px;
    outline: 0px;
    border-radius: 35px;
    height: 50px;
    padding: 0px 20px;
    flex: 1;
    appearance: none;
    background-image: url(images/dropdown.png);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 20px);
    background-position-y:20px;
    background-size: 15px;
}